@import '../core/variables';

.section {

    background-color: $color-general;

    &__form {
        background-color: $color-detail;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: $color-secondary;
        text-align: center;
    
&__search {
        border: 0;
        display: inline;
    

    &__input {
    border-radius: 5px;
        border-color: $color-secondary;
            height: 22px;
            width: 110px;
            margin-left: 1.5px;
            background-color: $color-detail;
        }
    }

  &__house {
    border: 0;
        display: block;
    &__select {
            border-radius: 5px;
            border-color: $color-secondary;
            background-color: $color-detail;
            margin-left: 40px;
            color: $color-secondary;
        }
  }

  &__gender {
    border: 0;
  }
}
}

.form__gender__label {
    font-size: 16px;
    margin-right: 3px;
}

.form__gender__input {
    height: 12px;
    margin-top: 5px;
    margin-right: 20px;
}

.reset {
    text-transform: uppercase;
    font-size: 10px;
    height: 15px;
    background-color: $color-detail;
}