.form {
    background-color: rgb(255, 204, 0);
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;

&__search {
        border: 0;
        display: inline;

    &__input {
            border-radius: 5px;
            border-color: antiquewhite;
            height: 22px;
            width: 110px;
            margin-left: 1.5px;
        }
    }

  &__house {
      border: 0;
      display: block;
  }

  &__gender {
      border: 0;
      display: flex;
  }
  }

.form__house select {
    border-radius: 5px;
    margin-left: 2px;
}

.form__gender label {
    font-size: 16px;
margin-right: 3px;
}

.form__gender input {
    height: 12px;
    margin-top: 5px;
    margin-right: 6px;
}
