@import '../core/variables';

.notFound {
    background-image: url('../../images/notFound.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}

a {
    color: $color-detail;
}