@import '../core/variables';

.notFound {
display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.notFound__img {
    width: 320px;
    height: 320px;
    margin-bottom: 100px;
}

.notFound__link {
    color: $color-detail;
    width: 50px;
        height: 30px;
        font-size: 30px;
        margin: 20px;
}