/*
    Sizes for media-queries
*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/*
  COLORS
*/

$color-detail: #ffcc00ba;
$color-secondary: rgb(183, 28, 28);
$color-general: black;
/*
 FONTS
*/

$font-Harry: 'Harry Potter';
$font-Inter: 'Inter', sans-serif;
$font-Bluu-Next: 'Bluu Next';