// Defaul font-size
$defaultFontSize: 16;

/*
    Sizes for media-queries
*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/*
  COLORS
*/

$color-dark-violet: #10141B;
$color-violet: #6B63B5;
$color-white: #FFFFFF;

/*
 FONTS
*/

$font-Harry: 'Harry Potter';
$font-Inter: 'Inter', sans-serif;
$font-Bluu-Next: 'Bluu Next';