@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';

/*@font-face {
    font-family: 'Bluu Next';
    src: url(../fonts/BluuNext-Bolditalic.otf) format('truetype');
}
@font-face {
    font-family: 'Harry Potter';
    src: url(../fonts/HARRYP__.TTF) format('truetype');
}

*/

* {
    font-family: 'Courier New', Courier, monospace;
    color: $color-secondary;
    font-weight: bold;
}
.app {
    padding: 20px;
    min-width: 380px;
        max-width: 1440px;
}

main {
    background-color: $color-general;
}




