@import 'core/variables';
@import 'core/reset';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu+Mono&display=swap');

* {
    font-family: $font-Harry;
    color: $color-secondary;
    font-weight: bold;
}
.app {
    padding: 20px;
    min-width: 320px;
        max-width: 1800px;
}

main {
    background-color: $color-general;
}




